<html>
 <body>
 <main>
  <div>
    <h3 id="hPerfiles">Registros</h3>
  </div>
  
   <div id="principal" class="container">
    <table class="table table-striped  table-sm row-border hover"  id="myTable">
      <thead class="table-dark" >
        <tr>
          <th *ngFor="let columna of columnas">
            {{columna}}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let producto of productos ">
          <td>{{producto.idProducto}}</td>
          <td>{{producto.nombre}}</td>
          <td>{{producto.precio}}</td>
          <td><a class="btn btn-outline-danger" href="/product-home" (click)="eliminarDatos(producto.idProducto)">Eliminar</a></td>
        </tr>
      </tbody>
    </table>
   </div>
  </main>
 </body>
</html>
