<div class="col-lg-1">
    <div class="d-flex h-100">
      <div class="align-self-center mx-auto">
        <i class="icon ion-md-search lead-xl"></i>
      </div>
    </div>
  </div>
  <div class="col-lg-11">
    <nav class="navbar navbar-expand-lg">
      <a class="navbar-brand text-light" href="#"><span class="font-weight-bold color">Heladeria </span></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link color  lead " href="# ">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link  lead color" href="#">Ubicación</a>
          </li>
          <li class="nav-item">
            <a class="nav-link  lead color" href="#">Comentarios</a>
          </li>
          <li class="nav-item">
            <a class="nav-link  lead color" href="#">Ofertas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light lead-xl" href="#"><i class="icon ion-md-menu "></i></a>
          </li>
        </ul>
      </div>
    </nav>
</div>
